<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        Clients
    </ion-title>

    <ion-button slot="end" href="#" router-direction="forward" >
      <ion-icon slot="icon-only" name="person-add"></ion-icon>
    </ion-button> 
    
  </ion-toolbar>
  

    
     
  
    
</ion-header>

<ion-content>
    
   <!--
    <ion-list>

      <ion-item-sliding>

          <ion-item-options side="start">

            ion-item-option (click)="update(item)">Modifier</ion-item-option>
            <ion-item-option color="danger" (click)="delete(item)">Supprimer</ion-item-option>


            <ion-item-option ><ion-icon slot="icon-only" name="build"></ion-icon></ion-item-option>
            <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>

          </ion-item-options>

          <ion-item>
            <ion-avatar item-start>
              <ion-icon ios="ios-client" md="md-client"></ion-icon>
               </ion-avatar>
                {{client.nomClient}}
                <p>{{client.nomProjet}}
                {{client.localite}}
                {{client.etatTraveaux}}</p>

          </ion-item>
      
          <ion-item-options side="end">
              <ion-item-option ><ion-icon slot="icon-only" name="open"></ion-icon></ion-item-option>

            <ion-item-option (click)="view(item)">Afficher</ion-item-option>
          </ion-item-options>

       </ion-item-sliding>
      
        
     </ion-list>-->
     <ion-list>
        <ion-item-sliding id="item100">
            <ion-item href="#">
                <img width="70" src="assets/img/logo.png">

              <ion-label margin="5">
                <h2>Chabi Lil'Iskan</h2>
                <p>Projet : Al Firdawss TMARA</p>
                <p color ="danger">En cours</p>
    
              </ion-label>
              <ion-note slot="end">
                10:45 AM
              </ion-note>
            </ion-item>
        
            <ion-item-options side="start">
              <ion-item-option>
                <ion-icon slot="icon-only" name="build"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        
            <ion-item-options side="end">
              
              <ion-item-option>
                <ion-icon slot="icon-only" name="open"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

</ion-content>
