<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="traveaux" >
      <ion-icon name="apps"></ion-icon>
      <ion-label>Traveaux</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personnels" >
      <ion-icon name="contacts"></ion-icon>
      <ion-label>personnels</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages" >
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plus" >
      <ion-icon name="settings"></ion-icon>
      <ion-label>Plus</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
